$color-white: #FFFFFF;
$color-beige: #f9f4ea ;
$color-sand-20:  rgba(232, 196, 122, 0.2);;
$color-brown-grey:  #979797;
$color-pumpkin-90:  rgba(222, 146, 0, 0.9);;
$color-sand-80:  rgba(232, 196, 122, 0.8);
$color-white-11:  rgba(255, 255, 255, 0.11);
$color-black:  #000;
$color-light-tan: #f7e0b2;
