.header-input{
    border:solid 0.5px black;
    border-radius: 4px;
    width: 415px;
    margin-left: 292px;
    background: url(../../../../assets/images/icons/search/search-icon.png) no-repeat scroll 7px 7px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 16px;
}

