.title {
    width: 800px;
    height: 40px;
    position: relative;
    top: 140px;
}
  
.Text-Style-9 {
    font-family: HelveticaNeue;
    font-size: 30px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.25px;
    text-align: center;
    color: black;
}

.dishes-cards {
    margin-top: 162px;
    display: flex;
    color: black;
    // border: 1px solid green;
  }