.title {
  width: 800px;
  height: 40px;
  position: relative;
  top: 140px;
}

.Text-Style-9 {
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.25px;
  text-align: center;
  color: black;
}

.cards {
  margin-top: 162px;
  display: flex;
  color: #000000;
}

.all-restaurants-link {
  width: 233px;
  height: 35px;
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: black;
  margin-left: 825px;
  position: relative;
  top: 31px;
  //   margin-left: 1000px;
}
